<div class="container coasters-index">

  <a href="/parks/new" class="btn btn-dark">Crear nuevo parque</a>

  <h1 style="font-weight: 100">Índice de parques</h1>

  {{#each parks}}
  <hr>
  <a href="/parks/{{this._id}}" class="btn btn-sm btn-dark">Ver detalles</a>
  <form action="/parks/{{this._id}}/delete" method="POST">
    <button type="submit" class="btn btn-sm btn-dark">Borrar</button>
  </form>
  <form action="/parks/{{this._id}}/edit">
    <button type="submit" class="btn btn-sm btn-dark">Editar</button>
  </form>
  <h4>{{this.name}}</h4>
  <hr>
  {{/each}}
</div>